div.login {
	
	width:50%;
	background-color:lightblue;
	float:left;
	height:800px;
	display: inline;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}



div.regis {
	
	width:50%;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

	color:black;
	float:right;
	float:top;
	height:800px;
}

div.padding {
	padding-bottom: 10%;
	padding-left:10%;
	padding-right:10%;
	padding-top:10%;
	border-width:10%;
	border-color:blue;
	border-style:inset;
}


div.innerRIGHT {
	margin-right:10%;
	margin-left: 10%;
	margin-top:  15%;
	background-color:lightblue;
	
}

div.innerLEFT {
	margin-left:20%;
	margin-top: 15%;
	width: 173px;
	-height:25%;
	background-color:lightblue;
	-padding-top:15%;
	-padding-bottom:28%;
}



div.bottomBar {
	padding-top:30px;
	display: inline-block;
}


div.untermstrich {
		background-color:lightblue;
	height: 200px;
	width: 100%;

	color:red;
	
}


h3 {
	 text-decoration: underline;
	
}