body {
	font-family: Verdana;
}

div.linkeSeite {
	
	-margin-top: 8%;
	-margin-left: 10%; 
	width:60%;
	background-color:orange;
	float:left;
	height:100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

}

div.rechteSeite {
	-margin-top: 8%;
	width:40.1%;
	
	-background-color:orange;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+47,a1dbff+100;Blue+3D+%2313 */
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */

	color:black;
	-float:right;
	float:top;
	height:100%;
	margin-left:59.9%;

}



div.title {
	width:100%;
	color:black;
	height:150px;
	-height:20%;
	float:top;
	background-color:#FD0303;
	color:#FFE602;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0202+0,8f0222+95,6d0019+100 */
	background: #ff0202; /* Old browsers */
	background: -moz-linear-gradient(left,  #ff0202 0%, #8f0222 95%, #6d0019 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ff0202 0%,#8f0222 95%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ff0202 0%,#8f0222 95%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0202', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */

}

div.sidebar {
	-margin-top:20%;
	height: 100%;
	width:10%;
	-width:10%;
	background: #f90202; /* Old browsers */

	float:left;
	
}

div.LangLebeDasKomIntern {
	-height:150px;
	 display:inline;
	-background-color:#FD0303;
	-float:top;
	-float:left;
	
}

div.nachricht {
	width:90%;
	-height:20%;
	margin-left:15px;
	margin-top:15px;
	background-color: red;
	display:inline-block;
}

p.text {
	padding-left:15px;
	padding-right:15px;
	-padding-top:3%;
	
	
}

span.hiddentext {
	display:none;
	
}


h3 {
	 text-decoration: underline;
	
}


button {
	width:80%;
	height:5%;
	align:center;
	background-color:lightblue;
	border:none;
}


