div.nachricht {
	width:100%;
	-height:20%;
	margin-left:2%;
	margin-top:10px;
	-margin-bottom:15px;
	background-color: #FF3333;
	background-color: yellow;
	display:inline-block;
}


div.textbox {
	width:75%;
	height:40%;
	background-color:red;
	margin-top:9px;
	margin-right:2%;
	float:right;
	-margin-left:10%;
	display: inline-block;
}


form.textbox {
	width: 100%;
    height: 100%;
	display: inline-block;
}

input.textbox {

    width: 100%;
    height: 500px;
    -margin-left: 15px;
	m-argin-right: 15px;
	ma-rgin-bottom:15px;
	mar-gin-top: 15px;


}

p.text {
	padding-left:15px;
	padding-right:15px;
	-padding-top:3%;
	
	
	font-size:14px;
}


div.kommentare {
	
}



*.infoArea {
	background-color:white;
	font-size:12px;
}

p.info {
	padding-left:15px;
	padding-right:15px;
	-padding-top:3%;
	padding-top:5px;
	margin-bottom:0;
	padding-bottom:5px;
	
	-width:100%;
}



div.kommentarAdden {
	width:100%;
}

form.kommentarAdden {
	margin-top:-20px;
	margin-bottom:0;
}

a.kommentareLaden {
	padding-left:15px;
	padding-right:30px;
	-padding-top:3%;
	padding-top:5px;
	-margin-bottom:5px;
	padding-bottom:5px;
	margin-top:-25px;
	
	float:right;
}

a.antworten {
	padding-left:15px;
	padding-right:30px;
	-padding-top:3%;	
	padding-top:5px;
	-margin-bottom:5px;
	padding-bottom:5px;
	margin-top:-25px;
	margin-right:107px;
	float:right;
	background-color:orange;
}

div.mehrKommentareLaden {
	margin-top: 50px;
	height:51px;
	-padding-left: 0;
	width: 100%;
	
	margin-left:15px;
	-padding-right:15px;
	background-color:white;
}

a.mehrKommentareLaden {
	margin-top:17px;
	color:black;
}

div.filler {
	width:100%;
	height:25px;
	
}


div.kommentarAnzeigen {
	background-color: #FFCC11;
	padding-top: 15px;
	padding-left: 15px;
}

p {
	word-wrap: break-word;
	
}

span.hiddentext {
	display:none;
	
}


h3 {
	 text-decoration: underline;
	
}


